.footer {
    background-color: #24292E;
    text-align: center;
    .copyright{
        p{
            color: #fff;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 0px;   
        }
    }
}